<% include ../partials/header.ejs %>
<main class="container">
    <h1>Edit a Contact</h1>
    <div class="col-sm-4">
        <form method="post">
            <fieldset class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" name="name" required value="<%= contact.name %>" autofocus/>
                 </fieldset>
                 <fieldset class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" name="email" required value="<%= contact.email %>" />
                </fieldset>
                <fieldset class="form-group">
                    <label>Phone:</label>
                    <input type="text" class="form-control" name="phone" required value="<%= contact.phone %>" />
                </fieldset>
				 <fieldset class="form-group">
                    <label>Message</label>
                 <textarea rows="6" cols="47" name="message"> "<%= contact.message %>"  </textarea>
                </fieldset>
            <fieldset class="form-group text-right">
                <button type="submit" class="btn btn-primary" title="Update">
                    <i class="fa fa-pencil-square-o"></i> Update</button>
                <a href="/contacts/delete/<%= contact._id %>" title="Delete" onclick="return confirm('Are you sure you want to delete this?');" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i> Delete
                </a>
                <a href="/contacts" title="Cancel"  class="btn btn-default">
                    <i class="fa fa-undo"></i>  Cancel
                </a>
            </fieldset>
        </form>
    </div>

</main>
<% include ../partials/boot.ejs %>
<% include ../partials/footer.ejs %>
